# Ambiente virtual
.venv/
venv/

# Variáveis de ambiente
.env

# Cache do Python
__pycache__/
*.py[cod]

# Editor
.vscode/
.idea/

# Arquivos do sistema
Thumbs.db
.DS_Store

# Logs
*.log

# CSV original de importação
dados/cep-20190602.csv